@charset "UTF-8";
@import url("https://use.typekit.net/jjx7czz.css");

:root {
    --bg-color: #fcf0f1;
    --text-color: #AD2831;
    --textSecondary-color: #800E13;
    --othercardbg-color: #AD2831;
    --textHeader-color: #38040E;
    --card-color: #fad2d6;
    --circle-color: #38040E;
    --articletitle-color: #38040E;
    --articledesc-color: #AD2831;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #121212;
        --text-color: #f5f5f5;
        --textSecondary-color: #f5f5f5;
        --othercardbg-color: #212121;
        --textHeader-color: #AD2831;
        --card-color: #212121;
        --circle-color: #121212;
        --articletitle-color: #f5f5f5;
        --articledesc-color: #333333;
    }
}

body {
    padding-top: 6%;
    font-family: 'ibm-plex-mono';
    font-weight: 500;
    letter-spacing: 0.05em;
    background: var(--bg-color);
}

.links {
    position: fixed;
    left: 20px;
    top: 15px;
    font-weight: 600;
    color: var(--textHeader-color);
}

.head {
    font-size: 1.2em;
}

.foot,
.foottext {
    font-size: 1em;
    color: var(--text-color);
}

.link:hover,
.foot:hover {
    color: var(--card-color);
}

h2,
span {
    font-weight: 400;
    color: var(--textHeader-color);
    font-family: 'Tenon';
}

h3 {
    font-weight: 300;
    color: var(--text-color);
}

p {
    color: var(--text-color);
    line-height: 1.2em;
}

.visit {
    font-weight: 500;
    color: var(--textHeader-color);
}

.subhead {
    color: var(--text-color);
    font-size: 2.5em;
    font-weight: 400;
    font-family: 'Tenon';
}

a {
    text-decoration: none;
    color: var(--textHeader-color);
}

.wrapper {
    width: 90%;
    margin-left: 5%;
}

.total_cases,
.map {
    width: 66%;
}

.other_stats,
.other_resources {
    width: 70%;
}

.total_cases {
    margin-right: 0px;
    font-family: 'Tenon';
    font-weight: 400;
    display: inline-block;
}

.other_stats {
    float: inherit;
}

.other_card {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    width: 275px;
    overflow: hidden;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 1%;
    background: var(--othercardbg-color);
}

.other_card p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    color: var(--textSecondary-color);
}

.other_card span {
    font-size: 1.5em;
}

.other_resources {
    display: inline-block;
}

.total_cases p {
    font-size: 2.7em;
}

.other_stats p {
    display: inline-block;
}

.articles {
    width: 30%;
    float: right;
    margin-right: 0%;
    margin-top: -2%;
}

.article {
    padding-bottom: 5%;
}

.articles h2 {
    color: var(--articletitle-color);
}

.articles p {
    margin-top: -4%;
    color: var(--articledesc-color);
}


/* cards */

* {
    box-sizing: border-box;
}

.card {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    width: 275px;
    padding: 20px;
    overflow: hidden;
    cursor: pointer;
    text-align: left;
}

.svg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 120%;
    z-index: -1;
    fill: var(--card-color);
}

.blob {
    transform: translate(23%, 3%) scale(0.65);
    transition: 0.4s;
    color: var(--card-color);
}

.card.active .blob {
    transform: translate(23%, 3%) scale(3.75);
    color: var(--card-color);
}

.card.active .bg-overlay {
    opacity: 0;
}

.circular-border {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background: var(--circle-color);
}

i {
    font-style: normal;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a {
    color: inherit;
    text-decoration: none;
}

h3 {
    opacity: 0;
    transition: 0.4s;
}

.card.active h3 {
    opacity: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body,
img {
    -webkit-animation: fadeIn ease-in 0.5s;
    -moz-animation: fadeIn ease-in 0.5s;
    animation: fadeIn ease-in 0.5s;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

@media screen and (max-width:599px) {

    .map {
        display: none;
    }

    body {
        padding-top: 20%;
        margin-left: 5%;
        margin-right: 5%;
    }

    p {
        left: 0;
    }

    .links {
        position: absolute;
    }

    .other_stats p {
        font-size: 1.5em;
        color: var(--textSecondary-color);
    }

    .wrapper {
        padding-top: 40%;
        width: 90%;
        display: inline;
    }

    .total_cases,
    .card.active,
    .other_stats {
        width: 90vw;
    }

    .total_cases {
        display: inline;
    }

    .other_stats {
        padding-left: 0;
    }

    .other_card {
        width: 100%;
        margin-top: 2px;
        padding-top: 5px;
    }

    .resources {
        width: 90%;
        padding-left: 0%;
        padding-right: 0%;
    }

    .articles {
        width: 100%;
    }
}
